.contact{
    position: absolute;
    width: 80%;
    height: 70%;
    top: 20%;
    left: 10%;
    display: flex;
    .formulaire{
        flex-basis: 50%;
        justify-self: center;
        align-self: center;
        height: 300px;
        .rate{
            display: flex;
            width: 40%;
            span{
                flex-basis: 25%;
                font-size:30px;
                cursor: pointer;
            }
            margin: 10px auto;
        }
    }
    .avis{
        flex-basis: 50%;
        justify-self: center;
        align-self: center;
        height: 250px;
        overflow: auto;
    }
}